<!DOCTYPE html>
<html>
<head><title>DDDisk</title></head>
<body>
    <h1>DDDisk</h1>
<link rel="stylesheet" href="{{ url_for('static', path='style.css') }}">

    <h3>Login</h3>
    <form action="/login" method="post">
        <input type="text" name="username" placeholder="Enter login" required>
        <button type="submit">Login</button>
    </form>

    <hr>

    <h3>Register</h3>
    <form action="/register" method="post">
        <input type="text" name="username" placeholder="Enter login" required>
        <button type="submit">Register</button>
    </form>
</body>
</html>